h1 {
  font-size: 2.8em !important;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 1.4em !important;
    margin-top: 0 !important;
    font-weight: bold !important;
    text-align: justify !important;
  }

  .section1 {
    padding-top: 0 !important;
  }

  h2 {
    font-size: 1.1em !important;
  }

  h4 {
    text-align: justify !important;
  }
}

.calc-vh-100 {
  height: calc(100vh - 114px) !important;
}
